.entrybox {
  margin: 0 auto;
  margin-bottom: 45px;
}

.header {
  composes: heading from '../common/typography';

  text-align: center;
}

.input {
  composes: heading from '../common/typography';
  composes: input from '../common/input';

  text-align: center;
  outline: none;
}
